# OS
.DS_Store
Thumbs.db

# Editors / IDE
.idea/
.vscode/
*.iml

# Dart / Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/

# Generated docs
**/doc/api/

# C/C++/CMake artifacts (desktop runners)
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

# Misc
*.log
*.swp
*~
